<div>
	<table class=" ng-scope"  id="bigParent" style="width:100%;background:#E3E3E3;">
		<tbody>
			<tr>
				<td  align="center" style="">
					<table class=""  id="content" style="width:580px;background:#FFFFFF;">
						<tbody>
							<tr>
								<td  style="">
									<table class=""  id="row1" style="width:580px;background:#FFFCFC;padding: 20px;">
										<tbody>
											<tr>
												<td  style="">
													<table  align="left" class=""  id="element2" style="">
														<tbody>
															<tr>
																<td  style="">
																	{% if account %}
																           <a style="color: #CC3E32;text-decoration: none;" href="{{app.request.getSchemeAndHttpHost()}}{{ path('account_show', { 'id': account.id }) }}">{{ account|capitalize }}</a>
															        {% endif %}
															        {% if opportunity %}
																        {% if opportunity.account and not account %}
																            <a style="color: #CC3E32;text-decoration: none;" href="{{app.request.getSchemeAndHttpHost()}}{{ path('account_show', { 'id': opportunity.account.id }) }}">{{ opportunity.account|capitalize }}</a>
																        {% endif %}
																        <a  style="color: #CC3E32;text-decoration: none;" href="{{app.request.getSchemeAndHttpHost()}}{{ path('opportunity_show', { 'id': opportunity.id }) }}">{{ opportunity.name|capitalize }}</a>
															        {% endif %}
															    	{% if project %}
																        {% if project.account and not account and not opportunity%}
																            <a style="color: #CC3E32;text-decoration: none;" href="{{app.request.getSchemeAndHttpHost()}}{{ path('account_show', { 'id': project.account.id }) }}">{{ project.account|capitalize }}</a>
																        {% endif %}
																        /
																        <a style="color: #CC3E32;text-decoration: none;" href="{{app.request.getSchemeAndHttpHost()}}{{ path('project_show', { 'id': project.id }) }}">{{ project|capitalize }}</a>
															        {% endif %}
															        /
															        <a style="color: #CC3E32;text-decoration: none;" href="{{app.request.getSchemeAndHttpHost()}}{{ path('board_task_kanban', { 'id': task.board.id }) }}">{{ task.board|capitalize }}</a>
																	
																</td>
															</tr>
															<tr>
																<td  style="">
																	<a href="{{app.request.getSchemeAndHttpHost()}}{{path('task_show',{'id':task.id})}}" style="color: #CC3E32;text-decoration: none;"><h3>#{{task.id}} {{task.name | capitalize}}</h3></a>
																</td>
															</tr>
															<tr>
																<td  style="color: gray;">
																	{{task.description | raw}}
																</td>
															</tr>
															<tr>
																<td  style="">
																	The user {{history.user.username}} modified this task.
																</td>
															</tr>
															{% if history.oldValue != "" %}
																<tr>
																	<td  style="">
																		Status changed from '{{history.oldValue}}' to '{{history.value}}'
																	</td>
																</tr>
															{% endif %}
														</tbody>
													</table>
												</td>
											</tr>
											<tr style="text-align: right;">
												<td style="font-size: 10px;">
												 	Flower team
												 	<img src="{{app.request.getSchemeAndHttpHost()}}/bundles/flowercore/images/Flower-icon.png" class="icon img-responsive" width="20">
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
